.input {
  border: 1px solid var(--mantine-primary-color-1);
  transition: none;
  &:focus-within {
    border-color: var(--mantine-primary-color-7);
    box-shadow: 0 0 0 1px var(--mantine-primary-color-7);
  };



}